# Column translation

In [2]:
import os
import sys

# Add modules path
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [3]:
%matplotlib notebook
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from Translator import Translator
from preprocessor import define_blocks
from visualization import plot_blocks

# Define language and translator functions
language = "es"
translator = Translator(language)
to_lang = translator.translate_to_language
to_col = translator.translate_to_column

# Load data
raw_data = pd.read_csv("sample.txt", header=0, skiprows=1, delimiter="\t", index_col=0, usecols=list(range(0, 9)),
                       parse_dates=to_lang(["Datetime"]), date_parser=lambda x: pd.to_datetime(x, format="%Y/%m/%d "
                                                                                                         "%H:%M")) 
# Translate column names
raw_data.columns = (to_col(raw_data.columns))
raw_data.iloc[[0, 1, 7, 8]]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Datetime</th>
      <th>Register_Type</th>
      <th>Glucose_Auto</th>
      <th>Glucose_Manual</th>
      <th>Rapid_Insulin_No_Val</th>
      <th>Rapid_Insulin</th>
      <th>Carbo_No_Val</th>
      <th>Carbo</th>
    </tr>
    <tr>
      <th>ID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>36781</th>
      <td>2016-03-31 15:44:00</td>
      <td>1</td>
      <td>NaN</td>
      <td>64.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>36817</th>
      <td>2016-03-31 15:43:00</td>
      <td>0</td>
      <td>61.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>36823</th>
      <td>2016-03-31 17:23:00</td>
      <td>4</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1,0</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>36823</th>
      <td>2016-03-31 17:23:00</td>
      <td>5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1,5</td>
    </tr>
  </tbody>
</table>
</div>

# Divide in blocks

In [4]:
data = define_blocks(raw_data)
data.iloc[[0, 1, 7, 8]]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Datetime</th>
      <th>Glucose_Auto</th>
      <th>Glucose_Manual</th>
      <th>Rapid_Insulin_No_Val</th>
      <th>Rapid_Insulin</th>
      <th>Carbo_No_Val</th>
      <th>Carbo</th>
      <th>Block</th>
      <th>Day_Block</th>
      <th>Overlapped_Block</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2016-03-31 15:43:00</td>
      <td>61.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1</td>
      <td>2016-03-31</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-03-31 15:58:00</td>
      <td>61.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1</td>
      <td>2016-03-31</td>
      <td>False</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2016-03-31 17:29:00</td>
      <td>64.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1</td>
      <td>2016-03-31</td>
      <td>False</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2016-03-31 17:44:00</td>
      <td>55.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1</td>
      <td>2016-03-31</td>
      <td>False</td>
    </tr>
  </tbody>
</table>
</div>

In [1]:
plot_blocks(data, datetime.date(2016, 4, 1), translator)

NameError: name 'plot_blocks' is not defined