# Column translation

In [40]:
import os
import sys

# Add modules path
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [41]:
%matplotlib notebook
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import numpy as np
from Translator import Translator
from preprocessor import define_blocks, mage
from visualization import plot_blocks

# Define language and translator functions
language = "es"
translator = Translator(language)
to_lang = translator.translate_to_language
to_col = translator.translate_to_column

# Load data
raw_data = pd.read_csv("sample.txt", header=0, skiprows=1, delimiter="\t", index_col=0, usecols=list(range(0, 9)),
                       parse_dates=to_lang(["Datetime"]), decimal=",",
                       date_parser=lambda x: pd.to_datetime(x, format="%Y/%m/%d %H:%M"))
# Translate column names
raw_data.columns = (to_col(raw_data.columns))

raw_data.iloc[[0, 1, 7, 8]]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Datetime</th>
      <th>Register_Type</th>
      <th>Glucose_Auto</th>
      <th>Glucose_Manual</th>
      <th>Rapid_Insulin_No_Val</th>
      <th>Rapid_Insulin</th>
      <th>Carbo_No_Val</th>
      <th>Carbo</th>
    </tr>
    <tr>
      <th>ID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>36781</th>
      <td>2016-03-31 15:44:00</td>
      <td>1</td>
      <td>NaN</td>
      <td>64.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>36817</th>
      <td>2016-03-31 15:43:00</td>
      <td>0</td>
      <td>61.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>36823</th>
      <td>2016-03-31 17:23:00</td>
      <td>4</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>36823</th>
      <td>2016-03-31 17:23:00</td>
      <td>5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.5</td>
    </tr>
  </tbody>
</table>
</div>

# Divide in blocks

In [42]:
data = define_blocks(raw_data)
data[data["Datetime"].dt.date == datetime.date(2016, 4, 1)]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Datetime</th>
      <th>Glucose_Auto</th>
      <th>Block</th>
      <th>Day_Block</th>
      <th>Last_Meal</th>
      <th>Overlapped_Block</th>
      <th>Carbo_Block</th>
      <th>Rapid_Insulin_Block</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>33</th>
      <td>2016-04-01 00:01:00</td>
      <td>82.0</td>
      <td>2</td>
      <td>2016-03-31</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>34</th>
      <td>2016-04-01 00:16:00</td>
      <td>84.0</td>
      <td>2</td>
      <td>2016-03-31</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>35</th>
      <td>2016-04-01 00:31:00</td>
      <td>95.0</td>
      <td>2</td>
      <td>2016-03-31</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>36</th>
      <td>2016-04-01 00:46:00</td>
      <td>96.0</td>
      <td>2</td>
      <td>2016-03-31</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>37</th>
      <td>2016-04-01 01:01:00</td>
      <td>96.0</td>
      <td>2</td>
      <td>2016-03-31</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>38</th>
      <td>2016-04-01 01:18:00</td>
      <td>113.0</td>
      <td>2</td>
      <td>2016-03-31</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>39</th>
      <td>2016-04-01 01:33:00</td>
      <td>141.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>40</th>
      <td>2016-04-01 01:48:00</td>
      <td>156.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>41</th>
      <td>2016-04-01 02:03:00</td>
      <td>148.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>42</th>
      <td>2016-04-01 02:18:00</td>
      <td>156.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>43</th>
      <td>2016-04-01 02:33:00</td>
      <td>187.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>44</th>
      <td>2016-04-01 02:48:00</td>
      <td>212.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>45</th>
      <td>2016-04-01 03:03:00</td>
      <td>201.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>46</th>
      <td>2016-04-01 03:18:00</td>
      <td>193.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>47</th>
      <td>2016-04-01 03:33:00</td>
      <td>214.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>48</th>
      <td>2016-04-01 03:48:00</td>
      <td>224.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>49</th>
      <td>2016-04-01 04:03:00</td>
      <td>224.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>50</th>
      <td>2016-04-01 04:18:00</td>
      <td>219.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>51</th>
      <td>2016-04-01 04:33:00</td>
      <td>213.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>52</th>
      <td>2016-04-01 04:48:00</td>
      <td>205.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>53</th>
      <td>2016-04-01 05:03:00</td>
      <td>193.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>54</th>
      <td>2016-04-01 05:18:00</td>
      <td>188.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>55</th>
      <td>2016-04-01 05:33:00</td>
      <td>193.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>56</th>
      <td>2016-04-01 05:48:00</td>
      <td>197.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>57</th>
      <td>2016-04-01 06:05:00</td>
      <td>177.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>58</th>
      <td>2016-04-01 06:20:00</td>
      <td>171.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>59</th>
      <td>2016-04-01 06:35:00</td>
      <td>169.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>60</th>
      <td>2016-04-01 06:50:00</td>
      <td>166.0</td>
      <td>1</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>61</th>
      <td>2016-04-01 07:05:00</td>
      <td>160.0</td>
      <td>1</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>62</th>
      <td>2016-04-01 07:20:00</td>
      <td>144.0</td>
      <td>1</td>
      <td>2016-04-01</td>
      <td>2016-03-31 21:30:00</td>
      <td>False</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>1334</th>
      <td>2016-04-01 21:11:00</td>
      <td>66.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>2016-04-01 20:57:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1349</th>
      <td>2016-04-01 21:11:00</td>
      <td>66.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>2016-04-01 20:57:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>118</th>
      <td>2016-04-01 21:26:00</td>
      <td>57.0</td>
      <td>4</td>
      <td>2016-04-01</td>
      <td>2016-04-01 20:57:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1327</th>
      <td>2016-04-01 21:26:00</td>
      <td>57.0</td>
      <td>5</td>
      <td>2016-04-01</td>
      <td>2016-04-01 20:57:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1335</th>
      <td>2016-04-01 21:26:00</td>
      <td>57.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>2016-04-01 20:57:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1350</th>
      <td>2016-04-01 21:26:00</td>
      <td>57.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>2016-04-01 20:57:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>119</th>
      <td>2016-04-01 21:41:00</td>
      <td>53.0</td>
      <td>4</td>
      <td>2016-04-01</td>
      <td>2016-04-01 20:57:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1328</th>
      <td>2016-04-01 21:41:00</td>
      <td>53.0</td>
      <td>5</td>
      <td>2016-04-01</td>
      <td>2016-04-01 20:57:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1336</th>
      <td>2016-04-01 21:41:00</td>
      <td>53.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>2016-04-01 20:57:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1351</th>
      <td>2016-04-01 21:41:00</td>
      <td>53.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>2016-04-01 20:57:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>120</th>
      <td>2016-04-01 21:56:00</td>
      <td>53.0</td>
      <td>4</td>
      <td>2016-04-01</td>
      <td>2016-04-01 20:57:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1329</th>
      <td>2016-04-01 21:56:00</td>
      <td>53.0</td>
      <td>5</td>
      <td>2016-04-01</td>
      <td>2016-04-01 20:57:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1337</th>
      <td>2016-04-01 21:56:00</td>
      <td>53.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>2016-04-01 20:57:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1352</th>
      <td>2016-04-01 21:56:00</td>
      <td>53.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>2016-04-01 20:57:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>121</th>
      <td>2016-04-01 22:11:00</td>
      <td>52.0</td>
      <td>5</td>
      <td>2016-04-01</td>
      <td>2016-04-01 22:11:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1338</th>
      <td>2016-04-01 22:11:00</td>
      <td>52.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>2016-04-01 22:11:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>122</th>
      <td>2016-04-01 22:26:00</td>
      <td>73.0</td>
      <td>5</td>
      <td>2016-04-01</td>
      <td>2016-04-01 22:11:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1339</th>
      <td>2016-04-01 22:26:00</td>
      <td>73.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>2016-04-01 22:11:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>123</th>
      <td>2016-04-01 22:41:00</td>
      <td>131.0</td>
      <td>5</td>
      <td>2016-04-01</td>
      <td>2016-04-01 22:11:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1340</th>
      <td>2016-04-01 22:41:00</td>
      <td>131.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>2016-04-01 22:11:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>124</th>
      <td>2016-04-01 22:56:00</td>
      <td>160.0</td>
      <td>5</td>
      <td>2016-04-01</td>
      <td>2016-04-01 22:11:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1341</th>
      <td>2016-04-01 22:56:00</td>
      <td>160.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>2016-04-01 22:11:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>125</th>
      <td>2016-04-01 23:11:00</td>
      <td>161.0</td>
      <td>5</td>
      <td>2016-04-01</td>
      <td>2016-04-01 22:11:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1342</th>
      <td>2016-04-01 23:11:00</td>
      <td>161.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>2016-04-01 22:11:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>126</th>
      <td>2016-04-01 23:26:00</td>
      <td>147.0</td>
      <td>5</td>
      <td>2016-04-01</td>
      <td>2016-04-01 22:11:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1343</th>
      <td>2016-04-01 23:26:00</td>
      <td>147.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>2016-04-01 22:11:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>127</th>
      <td>2016-04-01 23:41:00</td>
      <td>122.0</td>
      <td>5</td>
      <td>2016-04-01</td>
      <td>2016-04-01 22:11:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1344</th>
      <td>2016-04-01 23:41:00</td>
      <td>122.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>2016-04-01 22:11:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>128</th>
      <td>2016-04-01 23:56:00</td>
      <td>101.0</td>
      <td>5</td>
      <td>2016-04-01</td>
      <td>2016-04-01 22:11:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1345</th>
      <td>2016-04-01 23:56:00</td>
      <td>101.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>2016-04-01 22:11:00</td>
      <td>True</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>
<p>166 rows Ã— 8 columns</p>
</div>

In [42]:
plot_blocks(data, datetime.date(2016, 4, 1), translator)

# Extending dataset

## Delete rows with no previous meal (Initial values)

In [44]:
data[(data["Last_Meal"].isnull())]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Datetime</th>
      <th>Glucose_Auto</th>
      <th>Block</th>
      <th>Day_Block</th>
      <th>Last_Meal</th>
      <th>Overlapped_Block</th>
      <th>Carbo_Block</th>
      <th>Rapid_Insulin_Block</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2016-03-31 15:43:00</td>
      <td>61.0</td>
      <td>1</td>
      <td>2016-03-31</td>
      <td>NaN</td>
      <td>False</td>
      <td>1.5</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-03-31 15:58:00</td>
      <td>61.0</td>
      <td>1</td>
      <td>2016-03-31</td>
      <td>NaN</td>
      <td>False</td>
      <td>1.5</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-03-31 16:13:00</td>
      <td>71.0</td>
      <td>1</td>
      <td>2016-03-31</td>
      <td>NaN</td>
      <td>False</td>
      <td>1.5</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2016-03-31 16:28:00</td>
      <td>80.0</td>
      <td>1</td>
      <td>2016-03-31</td>
      <td>NaN</td>
      <td>False</td>
      <td>1.5</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2016-03-31 16:43:00</td>
      <td>83.0</td>
      <td>1</td>
      <td>2016-03-31</td>
      <td>NaN</td>
      <td>False</td>
      <td>1.5</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2016-03-31 16:58:00</td>
      <td>83.0</td>
      <td>1</td>
      <td>2016-03-31</td>
      <td>NaN</td>
      <td>False</td>
      <td>1.5</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2016-03-31 17:14:00</td>
      <td>75.0</td>
      <td>1</td>
      <td>2016-03-31</td>
      <td>NaN</td>
      <td>False</td>
      <td>1.5</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>
</div>

In [45]:
data.dropna(inplace='True', subset=['Last_Meal'])
data.head(6)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Datetime</th>
      <th>Glucose_Auto</th>
      <th>Block</th>
      <th>Day_Block</th>
      <th>Last_Meal</th>
      <th>Overlapped_Block</th>
      <th>Carbo_Block</th>
      <th>Rapid_Insulin_Block</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <td>2016-03-31 17:29:00</td>
      <td>64.0</td>
      <td>1</td>
      <td>2016-03-31</td>
      <td>2016-03-31 17:23:00</td>
      <td>False</td>
      <td>1.5</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2016-03-31 17:44:00</td>
      <td>55.0</td>
      <td>1</td>
      <td>2016-03-31</td>
      <td>2016-03-31 17:23:00</td>
      <td>False</td>
      <td>1.5</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2016-03-31 17:59:00</td>
      <td>55.0</td>
      <td>1</td>
      <td>2016-03-31</td>
      <td>2016-03-31 17:23:00</td>
      <td>False</td>
      <td>1.5</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2016-03-31 18:14:00</td>
      <td>75.0</td>
      <td>1</td>
      <td>2016-03-31</td>
      <td>2016-03-31 17:23:00</td>
      <td>False</td>
      <td>1.5</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2016-03-31 18:29:00</td>
      <td>83.0</td>
      <td>1</td>
      <td>2016-03-31</td>
      <td>2016-03-31 17:23:00</td>
      <td>False</td>
      <td>1.5</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2016-03-31 18:44:00</td>
      <td>89.0</td>
      <td>1</td>
      <td>2016-03-31</td>
      <td>2016-03-31 17:23:00</td>
      <td>False</td>
      <td>1.5</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>
</div>

## Add block information

In [46]:
new_columns = data.groupby(['Block', 'Day_Block']).agg({'Glucose_Auto': [np.mean, np.std, np.min, np.max]})["Glucose_Auto"]
new_columns.columns = ["Glucose_Mean_Block", "Glucose_Std_Block", "Glucose_Min_Block", "Glucose_Max_Block"]
new_columns = new_columns.reset_index(level=[0, 1])
new_data = pd.merge(data, new_columns, on=["Block", "Day_Block"], how='left')
new_data[["Datetime", "Glucose_Auto", "Block", "Day_Block", "Glucose_Mean_Block", "Glucose_Std_Block", 
          "Glucose_Min_Block", "Glucose_Max_Block"]].iloc[[1, 20, 40, 60, 80, 100]]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Datetime</th>
      <th>Glucose_Auto</th>
      <th>Block</th>
      <th>Day_Block</th>
      <th>Glucose_Mean_Block</th>
      <th>Glucose_Std_Block</th>
      <th>Glucose_Min_Block</th>
      <th>Glucose_Max_Block</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2016-03-31 17:44:00</td>
      <td>55.0</td>
      <td>1</td>
      <td>2016-03-31</td>
      <td>90.250000</td>
      <td>21.324477</td>
      <td>55.0</td>
      <td>119.0</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2016-03-31 20:59:00</td>
      <td>114.0</td>
      <td>2</td>
      <td>2016-03-31</td>
      <td>105.000000</td>
      <td>13.128733</td>
      <td>82.0</td>
      <td>123.0</td>
    </tr>
    <tr>
      <th>40</th>
      <td>2016-04-01 01:48:00</td>
      <td>156.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>189.571429</td>
      <td>25.120851</td>
      <td>141.0</td>
      <td>224.0</td>
    </tr>
    <tr>
      <th>60</th>
      <td>2016-04-01 06:50:00</td>
      <td>166.0</td>
      <td>1</td>
      <td>2016-04-01</td>
      <td>102.458333</td>
      <td>36.107303</td>
      <td>47.0</td>
      <td>166.0</td>
    </tr>
    <tr>
      <th>80</th>
      <td>2016-04-01 10:36:00</td>
      <td>91.0</td>
      <td>1</td>
      <td>2016-04-01</td>
      <td>102.458333</td>
      <td>36.107303</td>
      <td>47.0</td>
      <td>166.0</td>
    </tr>
    <tr>
      <th>100</th>
      <td>2016-04-01 13:22:00</td>
      <td>97.0</td>
      <td>2</td>
      <td>2016-04-01</td>
      <td>92.458333</td>
      <td>29.342030</td>
      <td>47.0</td>
      <td>139.0</td>
    </tr>
  </tbody>
</table>
</div>

## Add day information

In [47]:
new_columns = new_data.groupby(['Day_Block']).agg({'Glucose_Auto': [np.mean, np.std, np.min, np.max]})["Glucose_Auto"]
new_columns.columns = ["Glucose_Mean_Day", "Glucose_Std_Day", "Glucose_Min_Day", "Glucose_Max_Day"]
new_columns = new_columns.reset_index(level=0)
new_data = pd.merge(new_data, new_columns, on='Day_Block', how='left')
new_data[["Datetime", "Glucose_Auto", "Block", "Day_Block", "Glucose_Mean_Day", "Glucose_Std_Day",
          "Glucose_Min_Day", "Glucose_Max_Day"]].iloc[[1, 20, 40, 60, 80, 100]]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Datetime</th>
      <th>Glucose_Auto</th>
      <th>Block</th>
      <th>Day_Block</th>
      <th>Glucose_Mean_Day</th>
      <th>Glucose_Std_Day</th>
      <th>Glucose_Min_Day</th>
      <th>Glucose_Max_Day</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2016-03-31 17:44:00</td>
      <td>55.0</td>
      <td>1</td>
      <td>2016-03-31</td>
      <td>98.948718</td>
      <td>18.256864</td>
      <td>55.0</td>
      <td>123.0</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2016-03-31 20:59:00</td>
      <td>114.0</td>
      <td>2</td>
      <td>2016-03-31</td>
      <td>98.948718</td>
      <td>18.256864</td>
      <td>55.0</td>
      <td>123.0</td>
    </tr>
    <tr>
      <th>40</th>
      <td>2016-04-01 01:48:00</td>
      <td>156.0</td>
      <td>0</td>
      <td>2016-04-01</td>
      <td>116.715152</td>
      <td>44.708378</td>
      <td>47.0</td>
      <td>224.0</td>
    </tr>
    <tr>
      <th>60</th>
      <td>2016-04-01 06:50:00</td>
      <td>166.0</td>
      <td>1</td>
      <td>2016-04-01</td>
      <td>116.715152</td>
      <td>44.708378</td>
      <td>47.0</td>
      <td>224.0</td>
    </tr>
    <tr>
      <th>80</th>
      <td>2016-04-01 10:36:00</td>
      <td>91.0</td>
      <td>1</td>
      <td>2016-04-01</td>
      <td>116.715152</td>
      <td>44.708378</td>
      <td>47.0</td>
      <td>224.0</td>
    </tr>
    <tr>
      <th>100</th>
      <td>2016-04-01 13:22:00</td>
      <td>97.0</td>
      <td>2</td>
      <td>2016-04-01</td>
      <td>116.715152</td>
      <td>44.708378</td>
      <td>47.0</td>
      <td>224.0</td>
    </tr>
  </tbody>
</table>
</div>

## Calculating MAGE (Glycemic variability)

In [48]:
import peakdetect

day = datetime.datetime(2016, 4, 1)
values = new_data[new_data["Day_Block"] == day.date()][["Datetime", "Glucose_Auto"]].reset_index(drop=True)
vector = values["Glucose_Auto"]

std = np.std(vector)

peaks = peakdetect.peakdetect(np.array(vector), lookahead=2, delta=std)
# peakdetect returns two lists, respectively positive and negative peaks,
# with for each peak a tuple of (indexes, values).
indexes = []
peak_values =[]
for posOrNegPeaks in peaks:
    for peak in posOrNegPeaks:
        indexes.append(peak[0])
        peak_values.append((peak[1]))
print('Standard deviation is {:f}'.format(std))
print('Peaks indexes are: %s' % (indexes))
print('Peaks values are: %s' % (peak_values))

_, ax = plt.subplots()
values.plot(ax=ax, kind='line', x="Datetime", y="Glucose_Auto")
ax.plot(values.ix[indexes]["Datetime"], values.ix[indexes]["Glucose_Auto"], '+', mfc=None, mec='b', mew=2, ms=8)
ax.plot(values.ix[sorted(indexes)]["Datetime"], values.ix[sorted(indexes)]["Glucose_Auto"], mfc=None, mec='g', mew=2, ms=8)

plt.show()

Standard deviation is 44.572693
Peaks indexes are: [9, 38, 102, 152, 31, 49, 144]
Peaks values are: [224.0, 139.0, 169.0, 161.0, 93.0, 47.0, 52.0]

In [49]:
differences = []
for first, second in zip(peak_values, peak_values[1:]):
    differences.append(np.abs(first-second))
differences

[85.0, 30.0, 8.0, 68.0, 46.0, 5.0]

In [50]:
#Filter diferences greater than standard deviation
valid_differences = [elem for elem in differences if elem > std]
valid_differences

[85.0, 68.0, 46.0]

In [51]:
MAGE = sum(valid_differences) / len(valid_differences)
MAGE

66.333333333333329

## Add MAGE to each day

In [52]:
days = new_data['Day_Block'].unique()
for day in days:
    new_data.loc[new_data['Day_Block'] == day, "MAGE"] = mage(new_data[new_data['Day_Block'] == day])
new_data[["Datetime", "Glucose_Auto", "Block", "Day_Block", "Glucose_Std_Day", "MAGE"]].iloc[[1, 200, 400,
                                                                                              600, 800, 1000]]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Datetime</th>
      <th>Glucose_Auto</th>
      <th>Block</th>
      <th>Day_Block</th>
      <th>Glucose_Std_Day</th>
      <th>MAGE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2016-03-31 17:44:00</td>
      <td>55.0</td>
      <td>1</td>
      <td>2016-03-31</td>
      <td>18.256864</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>200</th>
      <td>2016-04-02 01:15:00</td>
      <td>83.0</td>
      <td>6</td>
      <td>2016-04-01</td>
      <td>44.708378</td>
      <td>66.333333</td>
    </tr>
    <tr>
      <th>400</th>
      <td>2016-04-03 12:43:00</td>
      <td>134.0</td>
      <td>2</td>
      <td>2016-04-03</td>
      <td>38.867359</td>
      <td>61.500000</td>
    </tr>
    <tr>
      <th>600</th>
      <td>2016-04-05 11:32:00</td>
      <td>60.0</td>
      <td>2</td>
      <td>2016-04-05</td>
      <td>26.580867</td>
      <td>59.000000</td>
    </tr>
    <tr>
      <th>800</th>
      <td>2016-04-06 11:12:00</td>
      <td>94.0</td>
      <td>3</td>
      <td>2016-04-06</td>
      <td>33.541394</td>
      <td>53.333333</td>
    </tr>
    <tr>
      <th>1000</th>
      <td>2016-04-07 16:40:00</td>
      <td>109.0</td>
      <td>3</td>
      <td>2016-04-07</td>
      <td>43.731306</td>
      <td>62.000000</td>
    </tr>
  </tbody>
</table>
</div>

## Add additional information

In [53]:
new_data.loc[:, "Weekday"] = new_data.apply(lambda row: row["Day_Block"].weekday()+1, axis=1)
new_data.loc[:, "Minutes_Last_Meal"] = new_data.apply(lambda row: int((row["Datetime"] - row["Last_Meal"])
                                                                      .total_seconds() / 60), axis=1)
new_data [["Datetime", "Day_Block", "Weekday", "Last_Meal","Minutes_Last_Meal"]].iloc[[1, 200, 400, 600, 800, 1000]]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Datetime</th>
      <th>Day_Block</th>
      <th>Weekday</th>
      <th>Last_Meal</th>
      <th>Minutes_Last_Meal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2016-03-31 17:44:00</td>
      <td>2016-03-31</td>
      <td>4</td>
      <td>2016-03-31 17:23:00</td>
      <td>21</td>
    </tr>
    <tr>
      <th>200</th>
      <td>2016-04-02 01:15:00</td>
      <td>2016-04-01</td>
      <td>5</td>
      <td>2016-04-01 22:11:00</td>
      <td>184</td>
    </tr>
    <tr>
      <th>400</th>
      <td>2016-04-03 12:43:00</td>
      <td>2016-04-03</td>
      <td>7</td>
      <td>2016-04-03 09:01:00</td>
      <td>222</td>
    </tr>
    <tr>
      <th>600</th>
      <td>2016-04-05 11:32:00</td>
      <td>2016-04-05</td>
      <td>2</td>
      <td>2016-04-05 10:23:00</td>
      <td>69</td>
    </tr>
    <tr>
      <th>800</th>
      <td>2016-04-06 11:12:00</td>
      <td>2016-04-06</td>
      <td>3</td>
      <td>2016-04-06 08:03:00</td>
      <td>189</td>
    </tr>
    <tr>
      <th>1000</th>
      <td>2016-04-07 16:40:00</td>
      <td>2016-04-07</td>
      <td>4</td>
      <td>2016-04-07 16:27:00</td>
      <td>13</td>
    </tr>
  </tbody>
</table>
</div>

## Add label

In [ ]:
def label_map(value):
    
    hypoglycemia_threshold = 70
    hyperglycemia_threshold = 180
    
    if value < hypoglycemia_threshold:
        return 'Hypoglycemia'
    elif value > hyperglycemia_threshold:
        return 'Hyperglycemia'
    else:
        return 'Normal'

new_data.loc[:, "Diagnosis"] = new_data["Glucose_Auto"].apply(label_map)
new_data [["Datetime", "Glucose_Auto", "Diagnosis"]].iloc[[1, 200, 400, 600, 800, 1400]]