In [74]:
% matplotlib notebook
import pandas as pd
import matplotlib.pyplot as plt
import os
import sys
from IPython.display import Image
from sklearn.preprocessing import Imputer

# Add modules path
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from Translator import Translator
import preprocessor as pp

# Add modules path
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

# Define language and translator functions
language = "es"
translator = Translator(language)
to_lang = translator.translate_to_language
to_col = translator.translate_to_column

# Load data
raw_data = pd.read_csv("sample.txt", header=0, skiprows=1, delimiter="\t", index_col=0, usecols=list(range(0, 9)),
                       parse_dates=to_lang(["Datetime"]), decimal=",",
                       date_parser=lambda x: pd.to_datetime(x, format="%Y/%m/%d %H:%M"))
# Translate column names
raw_data.columns = (to_col(raw_data.columns))

# Divide in blocks, extend dataset and clean data
block_data = pp.define_blocks(raw_data)
cleaned_block_data = pp.clean_processed_data(block_data)

## Add information of previous day

In [75]:
extended_data = pp.extend_data(cleaned_block_data)
extended_data[["Datetime", "Day_Block", "Glucose_Mean_Day", "Glucose_Mean_Prev_Day"]].iloc[[1, 200, 400, 600, 800, 1000]]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Datetime</th>
      <th>Day_Block</th>
      <th>Glucose_Mean_Day</th>
      <th>Glucose_Mean_Prev_Day</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2016-03-31 17:44:00</td>
      <td>2016-03-31</td>
      <td>98.948718</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>200</th>
      <td>2016-04-02 01:15:00</td>
      <td>2016-04-01</td>
      <td>116.715152</td>
      <td>98.948718</td>
    </tr>
    <tr>
      <th>400</th>
      <td>2016-04-03 12:43:00</td>
      <td>2016-04-03</td>
      <td>140.438095</td>
      <td>128.056738</td>
    </tr>
    <tr>
      <th>600</th>
      <td>2016-04-05 11:32:00</td>
      <td>2016-04-05</td>
      <td>93.044199</td>
      <td>125.390476</td>
    </tr>
    <tr>
      <th>800</th>
      <td>2016-04-06 11:12:00</td>
      <td>2016-04-06</td>
      <td>111.100000</td>
      <td>93.044199</td>
    </tr>
    <tr>
      <th>1000</th>
      <td>2016-04-07 16:40:00</td>
      <td>2016-04-07</td>
      <td>119.063636</td>
      <td>111.100000</td>
    </tr>
  </tbody>
</table>
</div>

## Fill previous day values in the first day with the mean

In [76]:
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
imputed_cols = imp.fit_transform(
    extended_data[["Glucose_Mean_Prev_Day",
                   "Glucose_Std_Prev_Day", "Glucose_Min_Prev_Day",
                   "Glucose_Max_Prev_Day"]].values)
extended_data.loc[:, ["Glucose_Mean_Prev_Day",
                      "Glucose_Std_Prev_Day", "Glucose_Min_Prev_Day",
                      "Glucose_Max_Prev_Day"]] = imputed_cols
extended_data[["Datetime", "Day_Block", "Glucose_Mean_Day", "Glucose_Mean_Prev_Day"]].iloc[
    [1, 200, 400, 600, 800, 1000]]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Datetime</th>
      <th>Day_Block</th>
      <th>Glucose_Mean_Day</th>
      <th>Glucose_Mean_Prev_Day</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2016-03-31 17:44:00</td>
      <td>2016-03-31</td>
      <td>98.948718</td>
      <td>121.370527</td>
    </tr>
    <tr>
      <th>200</th>
      <td>2016-04-02 01:15:00</td>
      <td>2016-04-01</td>
      <td>116.715152</td>
      <td>98.948718</td>
    </tr>
    <tr>
      <th>400</th>
      <td>2016-04-03 12:43:00</td>
      <td>2016-04-03</td>
      <td>140.438095</td>
      <td>128.056738</td>
    </tr>
    <tr>
      <th>600</th>
      <td>2016-04-05 11:32:00</td>
      <td>2016-04-05</td>
      <td>93.044199</td>
      <td>125.390476</td>
    </tr>
    <tr>
      <th>800</th>
      <td>2016-04-06 11:12:00</td>
      <td>2016-04-06</td>
      <td>111.100000</td>
      <td>93.044199</td>
    </tr>
    <tr>
      <th>1000</th>
      <td>2016-04-07 16:40:00</td>
      <td>2016-04-07</td>
      <td>119.063636</td>
      <td>111.100000</td>
    </tr>
  </tbody>
</table>
</div>

## Obtain values of glucose of previous day at the same time (Rounded to quarter)

In [77]:
import datetime

#Round datetime to nearest quarter hour 
rounded_quarters = extended_data[["Datetime", "Glucose_Auto"]].copy()
rounded_quarters["Datetime"] = rounded_quarters["Datetime"].apply(
    lambda dt: datetime.datetime(dt.year, dt.month, dt.day, dt.hour,15*(dt.minute // 15)))
rounded_quarters.iloc[[1, 200, 400, 600, 800, 1000]]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Datetime</th>
      <th>Glucose_Auto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2016-03-31 17:30:00</td>
      <td>55.0</td>
    </tr>
    <tr>
      <th>200</th>
      <td>2016-04-02 01:15:00</td>
      <td>83.0</td>
    </tr>
    <tr>
      <th>400</th>
      <td>2016-04-03 12:30:00</td>
      <td>134.0</td>
    </tr>
    <tr>
      <th>600</th>
      <td>2016-04-05 11:30:00</td>
      <td>60.0</td>
    </tr>
    <tr>
      <th>800</th>
      <td>2016-04-06 11:00:00</td>
      <td>94.0</td>
    </tr>
    <tr>
      <th>1000</th>
      <td>2016-04-07 16:30:00</td>
      <td>109.0</td>
    </tr>
  </tbody>
</table>
</div>

In [78]:
rounded_quarters[["Prev_Day_Datetime"]] = rounded_quarters[["Datetime"]].apply(lambda row: row - datetime.timedelta(days=1))
joined = rounded_quarters.merge(rounded_quarters, how='left', left_on='Prev_Day_Datetime', right_on='Datetime',
                       suffixes=('', '_Prev_Day'))
joined[["Datetime", "Glucose_Auto", "Datetime_Prev_Day", "Glucose_Auto_Prev_Day"]].iloc[[1, 200, 400, 600, 800, 1000]]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Datetime</th>
      <th>Glucose_Auto</th>
      <th>Datetime_Prev_Day</th>
      <th>Glucose_Auto_Prev_Day</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2016-03-31 17:30:00</td>
      <td>55.0</td>
      <td>NaT</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>200</th>
      <td>2016-04-01 21:30:00</td>
      <td>53.0</td>
      <td>2016-03-31 21:30:00</td>
      <td>115.0</td>
    </tr>
    <tr>
      <th>400</th>
      <td>2016-04-02 16:45:00</td>
      <td>188.0</td>
      <td>2016-04-01 16:45:00</td>
      <td>141.0</td>
    </tr>
    <tr>
      <th>600</th>
      <td>2016-04-03 16:15:00</td>
      <td>111.0</td>
      <td>2016-04-02 16:15:00</td>
      <td>165.0</td>
    </tr>
    <tr>
      <th>800</th>
      <td>2016-04-05 11:30:00</td>
      <td>60.0</td>
      <td>2016-04-04 11:30:00</td>
      <td>166.0</td>
    </tr>
    <tr>
      <th>1000</th>
      <td>2016-04-06 09:45:00</td>
      <td>125.0</td>
      <td>2016-04-05 09:45:00</td>
      <td>77.0</td>
    </tr>
  </tbody>
</table>
</div>

In [79]:
extended_data["Glucose_Auto_Prev_Day"] = joined["Glucose_Auto_Prev_Day"]

## Delete all rows that does not contain values of glucose of previous day

In [80]:
extended_data.dropna(inplace='True', subset=["Glucose_Auto_Prev_Day"])
extended_data[["Datetime", "Glucose_Auto", "Glucose_Auto_Prev_Day"]].iloc[[1, 200, 400, 600, 800, 1000]]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Datetime</th>
      <th>Glucose_Auto</th>
      <th>Glucose_Auto_Prev_Day</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>130</th>
      <td>2016-04-01 17:23:00</td>
      <td>153.0</td>
      <td>64.0</td>
    </tr>
    <tr>
      <th>333</th>
      <td>2016-04-02 19:51:00</td>
      <td>217.0</td>
      <td>123.0</td>
    </tr>
    <tr>
      <th>537</th>
      <td>2016-04-04 22:57:00</td>
      <td>140.0</td>
      <td>151.0</td>
    </tr>
    <tr>
      <th>738</th>
      <td>2016-04-06 01:10:00</td>
      <td>125.0</td>
      <td>136.0</td>
    </tr>
    <tr>
      <th>938</th>
      <td>2016-04-07 03:20:00</td>
      <td>190.0</td>
      <td>135.0</td>
    </tr>
    <tr>
      <th>1139</th>
      <td>2016-04-09 00:56:00</td>
      <td>178.0</td>
      <td>70.0</td>
    </tr>
  </tbody>
</table>
</div>

## Calculate difference of glucose with previous day

In [81]:
extended_data["Delta_Glucose_Prev_Day"] = abs(extended_data["Glucose_Auto"] - extended_data["Glucose_Auto_Prev_Day"])
extended_data[["Datetime", "Glucose_Auto", "Glucose_Auto_Prev_Day", "Delta_Glucose_Prev_Day"]].iloc[[1, 200, 400, 600, 800, 1000]]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Datetime</th>
      <th>Glucose_Auto</th>
      <th>Glucose_Auto_Prev_Day</th>
      <th>Delta_Glucose_Prev_Day</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>130</th>
      <td>2016-04-01 17:23:00</td>
      <td>153.0</td>
      <td>64.0</td>
      <td>89.0</td>
    </tr>
    <tr>
      <th>333</th>
      <td>2016-04-02 19:51:00</td>
      <td>217.0</td>
      <td>123.0</td>
      <td>94.0</td>
    </tr>
    <tr>
      <th>537</th>
      <td>2016-04-04 22:57:00</td>
      <td>140.0</td>
      <td>151.0</td>
      <td>11.0</td>
    </tr>
    <tr>
      <th>738</th>
      <td>2016-04-06 01:10:00</td>
      <td>125.0</td>
      <td>136.0</td>
      <td>11.0</td>
    </tr>
    <tr>
      <th>938</th>
      <td>2016-04-07 03:20:00</td>
      <td>190.0</td>
      <td>135.0</td>
      <td>55.0</td>
    </tr>
    <tr>
      <th>1139</th>
      <td>2016-04-09 00:56:00</td>
      <td>178.0</td>
      <td>70.0</td>
      <td>108.0</td>
    </tr>
  </tbody>
</table>
</div>

## Add new label to diagnosis (Severe hyperglycemia) (>240)

In [82]:
def label_map(value):
    
    hypoglycemia_threshold = 70
    hyperglycemia_threshold = 180
    severe_hyperglycemia_threshold = 240

    if value < hypoglycemia_threshold:
        return 'Hypoglycemia'
    elif value > hyperglycemia_threshold:
        if value > severe_hyperglycemia_threshold:
            return 'Severe_Hyperglycemia'
        else:
            return 'Hyperglycemia'
    else:
        return 'In_Range'


# Add label to each entry (Diagnosis)
extended_data["Diagnosis"] = extended_data["Glucose_Auto"].apply(label_map)
extended_data[["Datetime", "Glucose_Auto", "Diagnosis"]].ix[[167, 200, 312, 322]]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Datetime</th>
      <th>Glucose_Auto</th>
      <th>Diagnosis</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>167</th>
      <td>2016-04-01 21:11:00</td>
      <td>66.0</td>
      <td>Hypoglycemia</td>
    </tr>
    <tr>
      <th>200</th>
      <td>2016-04-02 01:15:00</td>
      <td>83.0</td>
      <td>In_Range</td>
    </tr>
    <tr>
      <th>312</th>
      <td>2016-04-02 16:50:00</td>
      <td>188.0</td>
      <td>Hyperglycemia</td>
    </tr>
    <tr>
      <th>322</th>
      <td>2016-04-02 18:05:00</td>
      <td>249.0</td>
      <td>Severe_Hyperglycemia</td>
    </tr>
  </tbody>
</table>
</div>

In [83]:
from sklearn.preprocessing import LabelBinarizer
import numpy as np
# Binarize labels in a one-vs-all fashion (Severe_Hyperglycemia, Hyperglycemia, Hypoglycemia and Normal)
# to get binary labels
lb = LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)
lb.fit(extended_data["Diagnosis"])
labels = pd.DataFrame(index=extended_data.index)
for x in lb.classes_:
    labels[x + "_Diagnosis"] = np.nan
labels.loc[:, [x + "_Diagnosis" for x in lb.classes_]] = lb.transform(extended_data["Diagnosis"])
labels.ix[[167, 200, 312, 322]]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Hyperglycemia_Diagnosis</th>
      <th>Hypoglycemia_Diagnosis</th>
      <th>In_Range_Diagnosis</th>
      <th>Severe_Hyperglycemia_Diagnosis</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>167</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>200</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>312</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>322</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

### Logic OR between hyperglycemia and severe_hyperglycemia in hyperglycemia column

In [84]:
labels["Hyperglycemia_Diagnosis"] = labels["Hyperglycemia_Diagnosis"] | labels["Severe_Hyperglycemia_Diagnosis"]
labels.ix[[167, 200, 312, 322]]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Hyperglycemia_Diagnosis</th>
      <th>Hypoglycemia_Diagnosis</th>
      <th>In_Range_Diagnosis</th>
      <th>Severe_Hyperglycemia_Diagnosis</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>167</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>200</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>312</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>322</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

## Add diagnosis of next block

In [85]:
# Join labels to data
extended_data = pd.concat([extended_data, labels], axis=1, join_axes=[extended_data.index])
extended_data.columns.values

array(['Datetime', 'Glucose_Auto', 'Hour', 'Block', 'Day_Block',
       'Last_Meal', 'Overlapped_Block', 'Carbo_Block',
       'Rapid_Insulin_Block', 'Glucose_Mean_Block', 'Glucose_Std_Block',
       'Glucose_Min_Block', 'Glucose_Max_Block', 'Glucose_Mean_Day',
       'Glucose_Std_Day', 'Glucose_Min_Day', 'Glucose_Max_Day', 'MAGE',
       'Weekday', 'Minutes_Last_Meal', 'Last_Meal_Hour',
       'Glucose_Mean_Prev_Block', 'Glucose_Std_Prev_Block',
       'Glucose_Min_Prev_Block', 'Glucose_Max_Prev_Block',
       'Rapid_Insulin_Prev_Block', 'Carbo_Prev_Block',
       'Glucose_Mean_Prev_Day', 'Glucose_Std_Prev_Day',
       'Glucose_Min_Prev_Day', 'Glucose_Max_Prev_Day', 'Diagnosis',
       'Glucose_Auto_Prev_Day', 'Delta_Glucose_Prev_Day',
       'Hyperglycemia_Diagnosis', 'Hypoglycemia_Diagnosis',
       'In_Range_Diagnosis', 'Severe_Hyperglycemia_Diagnosis'], dtype=object)

In [86]:
# Group by blocks and get aggregated diagnosis for current block
def logical_or(x):
    return 1 if np.sum(x) > 0 else 0
new_columns = extended_data.groupby(['Day_Block', 'Block']).agg(
    {'Hypoglycemia_Diagnosis': logical_or, 'In_Range_Diagnosis': logical_or,'Hyperglycemia_Diagnosis': logical_or,
     'Severe_Hyperglycemia_Diagnosis': logical_or})
new_columns

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Hyperglycemia_Diagnosis</th>
      <th>Severe_Hyperglycemia_Diagnosis</th>
      <th>Hypoglycemia_Diagnosis</th>
      <th>In_Range_Diagnosis</th>
    </tr>
    <tr>
      <th>Day_Block</th>
      <th>Block</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="4" valign="top">2016-04-01</th>
      <th>3</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">2016-04-02</th>
      <th>0</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">2016-04-03</th>
      <th>0</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">2016-04-04</th>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="7" valign="top">2016-04-05</th>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="6" valign="top">2016-04-06</th>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>...</th>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2016-04-09</th>
      <th>4</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="6" valign="top">2016-04-10</th>
      <th>0</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">2016-04-11</th>
      <th>0</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="10" valign="top">2016-04-12</th>
      <th>0</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="8" valign="top">2016-04-13</th>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-04-14</th>
      <th>0</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>76 rows  4 columns</p>
</div>

In [87]:
# Join aggregated data to dataset
new_columns.rename(columns={'Hyperglycemia_Diagnosis': 'Hyperglycemia_Diagnosis_Block',
                    'Hypoglycemia_Diagnosis': 'Hypoglycemia_Diagnosis_Block',
                    'In_Range_Diagnosis': 'In_Range_Diagnosis_Block',
                    'Severe_Hyperglycemia_Diagnosis': 'Severe_Hyperglycemia_Diagnosis_Block'}, inplace=True)
new_columns = new_columns.reset_index(level=[0, 1])
new_data = pd.merge(extended_data, new_columns, on=["Block", "Day_Block"], how='left')
new_data[["Datetime", "Block", "Glucose_Auto", "Hyperglycemia_Diagnosis", 'Hyperglycemia_Diagnosis_Block']].tail(50)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Datetime</th>
      <th>Block</th>
      <th>Glucose_Auto</th>
      <th>Hyperglycemia_Diagnosis</th>
      <th>Hyperglycemia_Diagnosis_Block</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1972</th>
      <td>2016-04-13 18:55:00</td>
      <td>6</td>
      <td>90.0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1973</th>
      <td>2016-04-13 19:10:00</td>
      <td>5</td>
      <td>76.0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1974</th>
      <td>2016-04-13 19:10:00</td>
      <td>6</td>
      <td>76.0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1975</th>
      <td>2016-04-13 19:25:00</td>
      <td>5</td>
      <td>64.0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1976</th>
      <td>2016-04-13 19:25:00</td>
      <td>6</td>
      <td>64.0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1977</th>
      <td>2016-04-13 19:25:00</td>
      <td>7</td>
      <td>64.0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1978</th>
      <td>2016-04-13 19:25:00</td>
      <td>7</td>
      <td>64.0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1979</th>
      <td>2016-04-13 19:41:00</td>
      <td>6</td>
      <td>55.0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1980</th>
      <td>2016-04-13 19:41:00</td>
      <td>7</td>
      <td>55.0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1981</th>
      <td>2016-04-13 19:56:00</td>
      <td>6</td>
      <td>51.0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1982</th>
      <td>2016-04-13 19:56:00</td>
      <td>7</td>
      <td>51.0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1983</th>
      <td>2016-04-13 20:11:00</td>
      <td>6</td>
      <td>72.0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1984</th>
      <td>2016-04-13 20:11:00</td>
      <td>7</td>
      <td>72.0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1985</th>
      <td>2016-04-13 20:26:00</td>
      <td>6</td>
      <td>104.0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1986</th>
      <td>2016-04-13 20:26:00</td>
      <td>7</td>
      <td>104.0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1987</th>
      <td>2016-04-13 20:41:00</td>
      <td>6</td>
      <td>115.0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1988</th>
      <td>2016-04-13 20:41:00</td>
      <td>7</td>
      <td>115.0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1989</th>
      <td>2016-04-13 20:56:00</td>
      <td>6</td>
      <td>111.0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1990</th>
      <td>2016-04-13 20:56:00</td>
      <td>7</td>
      <td>111.0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1991</th>
      <td>2016-04-13 22:30:00</td>
      <td>7</td>
      <td>154.0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1992</th>
      <td>2016-04-13 22:45:00</td>
      <td>7</td>
      <td>161.0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1993</th>
      <td>2016-04-13 23:00:00</td>
      <td>7</td>
      <td>171.0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1994</th>
      <td>2016-04-13 23:15:00</td>
      <td>7</td>
      <td>177.0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1995</th>
      <td>2016-04-13 23:30:00</td>
      <td>7</td>
      <td>181.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1996</th>
      <td>2016-04-13 23:45:00</td>
      <td>7</td>
      <td>183.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1997</th>
      <td>2016-04-14 00:00:00</td>
      <td>7</td>
      <td>185.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1998</th>
      <td>2016-04-14 00:15:00</td>
      <td>7</td>
      <td>195.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1999</th>
      <td>2016-04-14 00:30:00</td>
      <td>7</td>
      <td>203.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2000</th>
      <td>2016-04-14 00:45:00</td>
      <td>7</td>
      <td>206.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2001</th>
      <td>2016-04-14 01:00:00</td>
      <td>7</td>
      <td>216.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2002</th>
      <td>2016-04-14 01:15:00</td>
      <td>0</td>
      <td>221.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2003</th>
      <td>2016-04-14 01:30:00</td>
      <td>0</td>
      <td>219.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2004</th>
      <td>2016-04-14 01:45:00</td>
      <td>0</td>
      <td>222.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2005</th>
      <td>2016-04-14 02:00:00</td>
      <td>0</td>
      <td>224.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2006</th>
      <td>2016-04-14 02:15:00</td>
      <td>0</td>
      <td>225.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2007</th>
      <td>2016-04-14 02:30:00</td>
      <td>0</td>
      <td>222.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2008</th>
      <td>2016-04-14 02:45:00</td>
      <td>0</td>
      <td>214.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2009</th>
      <td>2016-04-14 03:00:00</td>
      <td>0</td>
      <td>221.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2010</th>
      <td>2016-04-14 03:15:00</td>
      <td>0</td>
      <td>233.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2011</th>
      <td>2016-04-14 03:30:00</td>
      <td>0</td>
      <td>245.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2012</th>
      <td>2016-04-14 03:45:00</td>
      <td>0</td>
      <td>255.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2013</th>
      <td>2016-04-14 04:00:00</td>
      <td>0</td>
      <td>265.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2014</th>
      <td>2016-04-14 04:15:00</td>
      <td>0</td>
      <td>271.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2015</th>
      <td>2016-04-14 04:30:00</td>
      <td>0</td>
      <td>268.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016</th>
      <td>2016-04-14 04:45:00</td>
      <td>0</td>
      <td>264.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2017</th>
      <td>2016-04-14 05:00:00</td>
      <td>0</td>
      <td>257.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2018</th>
      <td>2016-04-14 05:15:00</td>
      <td>0</td>
      <td>250.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2019</th>
      <td>2016-04-14 05:30:00</td>
      <td>0</td>
      <td>242.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2020</th>
      <td>2016-04-14 05:45:00</td>
      <td>0</td>
      <td>231.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2021</th>
      <td>2016-04-14 06:00:00</td>
      <td>0</td>
      <td>223.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [88]:
# Add label corresponding to the next block (offset = 1)
offset = 1
counter = 0
previous = np.nan
new_data.loc[:, "Hyperglycemia_Diagnosis_Next_Block"] = np.nan
new_data.loc[:, "Hypoglycemia_Diagnosis_Next_Block"] = np.nan
new_data.loc[:, "In_Range_Diagnosis_Next_Block"] = np.nan
new_data.loc[:, "Severe_Hyperglycemia_Diagnosis_Next_Block"] = np.nan

# Reverse iteration
for block in new_data[["Day_Block", "Block", "Hyperglycemia_Diagnosis_Block", "Hypoglycemia_Diagnosis_Block",
                                    "In_Range_Diagnosis_Block", "Severe_Hyperglycemia_Diagnosis_Block"]]\
        .drop_duplicates().iloc[::-1].itertuples():
    if counter >= offset:
        mask = (new_data["Day_Block"] == block[1]) & (new_data["Block"] == block[2])
        new_data.loc[mask, "Hyperglycemia_Diagnosis_Next_Block"] = next[3]
        new_data.loc[mask, "Hypoglycemia_Diagnosis_Next_Block"] = next[4]
        new_data.loc[mask, "In_Range_Diagnosis_Next_Block"] = next[5]
        new_data.loc[mask, "Severe_Hyperglycemia_Diagnosis_Next_Block"] = next[6]
    next = block
    counter += 1
new_data[["Datetime", "Block", "Glucose_Auto", "Hyperglycemia_Diagnosis_Block", 'Hyperglycemia_Diagnosis_Next_Block']].tail(50)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Datetime</th>
      <th>Block</th>
      <th>Glucose_Auto</th>
      <th>Hyperglycemia_Diagnosis_Block</th>
      <th>Hyperglycemia_Diagnosis_Next_Block</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1972</th>
      <td>2016-04-13 18:55:00</td>
      <td>6</td>
      <td>90.0</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1973</th>
      <td>2016-04-13 19:10:00</td>
      <td>5</td>
      <td>76.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1974</th>
      <td>2016-04-13 19:10:00</td>
      <td>6</td>
      <td>76.0</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1975</th>
      <td>2016-04-13 19:25:00</td>
      <td>5</td>
      <td>64.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1976</th>
      <td>2016-04-13 19:25:00</td>
      <td>6</td>
      <td>64.0</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1977</th>
      <td>2016-04-13 19:25:00</td>
      <td>7</td>
      <td>64.0</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1978</th>
      <td>2016-04-13 19:25:00</td>
      <td>7</td>
      <td>64.0</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1979</th>
      <td>2016-04-13 19:41:00</td>
      <td>6</td>
      <td>55.0</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1980</th>
      <td>2016-04-13 19:41:00</td>
      <td>7</td>
      <td>55.0</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1981</th>
      <td>2016-04-13 19:56:00</td>
      <td>6</td>
      <td>51.0</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1982</th>
      <td>2016-04-13 19:56:00</td>
      <td>7</td>
      <td>51.0</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1983</th>
      <td>2016-04-13 20:11:00</td>
      <td>6</td>
      <td>72.0</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1984</th>
      <td>2016-04-13 20:11:00</td>
      <td>7</td>
      <td>72.0</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1985</th>
      <td>2016-04-13 20:26:00</td>
      <td>6</td>
      <td>104.0</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1986</th>
      <td>2016-04-13 20:26:00</td>
      <td>7</td>
      <td>104.0</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1987</th>
      <td>2016-04-13 20:41:00</td>
      <td>6</td>
      <td>115.0</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1988</th>
      <td>2016-04-13 20:41:00</td>
      <td>7</td>
      <td>115.0</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1989</th>
      <td>2016-04-13 20:56:00</td>
      <td>6</td>
      <td>111.0</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1990</th>
      <td>2016-04-13 20:56:00</td>
      <td>7</td>
      <td>111.0</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1991</th>
      <td>2016-04-13 22:30:00</td>
      <td>7</td>
      <td>154.0</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1992</th>
      <td>2016-04-13 22:45:00</td>
      <td>7</td>
      <td>161.0</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1993</th>
      <td>2016-04-13 23:00:00</td>
      <td>7</td>
      <td>171.0</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1994</th>
      <td>2016-04-13 23:15:00</td>
      <td>7</td>
      <td>177.0</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1995</th>
      <td>2016-04-13 23:30:00</td>
      <td>7</td>
      <td>181.0</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1996</th>
      <td>2016-04-13 23:45:00</td>
      <td>7</td>
      <td>183.0</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1997</th>
      <td>2016-04-14 00:00:00</td>
      <td>7</td>
      <td>185.0</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1998</th>
      <td>2016-04-14 00:15:00</td>
      <td>7</td>
      <td>195.0</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1999</th>
      <td>2016-04-14 00:30:00</td>
      <td>7</td>
      <td>203.0</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>2000</th>
      <td>2016-04-14 00:45:00</td>
      <td>7</td>
      <td>206.0</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>2001</th>
      <td>2016-04-14 01:00:00</td>
      <td>7</td>
      <td>216.0</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>2002</th>
      <td>2016-04-14 01:15:00</td>
      <td>0</td>
      <td>221.0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2003</th>
      <td>2016-04-14 01:30:00</td>
      <td>0</td>
      <td>219.0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2004</th>
      <td>2016-04-14 01:45:00</td>
      <td>0</td>
      <td>222.0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2005</th>
      <td>2016-04-14 02:00:00</td>
      <td>0</td>
      <td>224.0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2006</th>
      <td>2016-04-14 02:15:00</td>
      <td>0</td>
      <td>225.0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2007</th>
      <td>2016-04-14 02:30:00</td>
      <td>0</td>
      <td>222.0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2008</th>
      <td>2016-04-14 02:45:00</td>
      <td>0</td>
      <td>214.0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2009</th>
      <td>2016-04-14 03:00:00</td>
      <td>0</td>
      <td>221.0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2010</th>
      <td>2016-04-14 03:15:00</td>
      <td>0</td>
      <td>233.0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2011</th>
      <td>2016-04-14 03:30:00</td>
      <td>0</td>
      <td>245.0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2012</th>
      <td>2016-04-14 03:45:00</td>
      <td>0</td>
      <td>255.0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2013</th>
      <td>2016-04-14 04:00:00</td>
      <td>0</td>
      <td>265.0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2014</th>
      <td>2016-04-14 04:15:00</td>
      <td>0</td>
      <td>271.0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2015</th>
      <td>2016-04-14 04:30:00</td>
      <td>0</td>
      <td>268.0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2016</th>
      <td>2016-04-14 04:45:00</td>
      <td>0</td>
      <td>264.0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017</th>
      <td>2016-04-14 05:00:00</td>
      <td>0</td>
      <td>257.0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018</th>
      <td>2016-04-14 05:15:00</td>
      <td>0</td>
      <td>250.0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2019</th>
      <td>2016-04-14 05:30:00</td>
      <td>0</td>
      <td>242.0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2020</th>
      <td>2016-04-14 05:45:00</td>
      <td>0</td>
      <td>231.0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2021</th>
      <td>2016-04-14 06:00:00</td>
      <td>0</td>
      <td>223.0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [89]:
new_data.to_csv(path_or_buf='extended.csv')

## Drop information current day

In [90]:
cleaned_extended_data = pp.clean_extended_data(new_data)
cleaned_extended_data.drop(["Glucose_Mean_Day", "Glucose_Std_Day",
          "Glucose_Min_Day", "Glucose_Max_Day"], inplace=True, axis=1)
list(cleaned_extended_data.columns.values)

['Datetime',
 'Glucose_Auto',
 'Hour',
 'Block',
 'Day_Block',
 'Last_Meal',
 'Overlapped_Block',
 'MAGE',
 'Weekday',
 'Minutes_Last_Meal',
 'Last_Meal_Hour',
 'Glucose_Mean_Prev_Block',
 'Glucose_Std_Prev_Block',
 'Glucose_Min_Prev_Block',
 'Glucose_Max_Prev_Block',
 'Rapid_Insulin_Prev_Block',
 'Carbo_Prev_Block',
 'Glucose_Mean_Prev_Day',
 'Glucose_Std_Prev_Day',
 'Glucose_Min_Prev_Day',
 'Glucose_Max_Prev_Day',
 'Diagnosis',
 'Glucose_Auto_Prev_Day',
 'Delta_Glucose_Prev_Day',
 'Hyperglycemia_Diagnosis',
 'Hypoglycemia_Diagnosis',
 'In_Range_Diagnosis',
 'Severe_Hyperglycemia_Diagnosis',
 'Hyperglycemia_Diagnosis_Block',
 'Severe_Hyperglycemia_Diagnosis_Block',
 'Hypoglycemia_Diagnosis_Block',
 'In_Range_Diagnosis_Block',
 'Hyperglycemia_Diagnosis_Next_Block',
 'Hypoglycemia_Diagnosis_Next_Block',
 'In_Range_Diagnosis_Next_Block',
 'Severe_Hyperglycemia_Diagnosis_Next_Block']

## Drop rows with unknown labels (Data corresponding to last block) and column labels corresponding to current entry and block

In [90]:
cleaned_extended_data.dropna(inplace='True', subset=["Hyperglycemia_Diagnosis_Next_Block",
                                                     "Hypoglycemia_Diagnosis_Next_Block",
                                                     "In_Range_Diagnosis_Next_Block",
                                                     "Severe_Hyperglycemia_Diagnosis_Next_Block"])
cleaned_extended_data.drop(["Diagnosis", "Hyperglycemia_Diagnosis",
                            "Hypoglycemia_Diagnosis", "In_Range_Diagnosis", "Severe_Hyperglycemia_Diagnosis",
                            "Hyperglycemia_Diagnosis_Block", "Hypoglycemia_Diagnosis_Block",
                            "In_Range_Diagnosis_Block", "Severe_Hyperglycemia_Diagnosis_Block"], inplace=True, axis=1)
list(cleaned_extended_data.columns.values)

['Datetime',
 'Glucose_Auto',
 'Hour',
 'Block',
 'Day_Block',
 'Last_Meal',
 'Overlapped_Block',
 'MAGE',
 'Weekday',
 'Minutes_Last_Meal',
 'Last_Meal_Hour',
 'Glucose_Mean_Prev_Block',
 'Glucose_Std_Prev_Block',
 'Glucose_Min_Prev_Block',
 'Glucose_Max_Prev_Block',
 'Rapid_Insulin_Prev_Block',
 'Carbo_Prev_Block',
 'Glucose_Mean_Prev_Day',
 'Glucose_Std_Prev_Day',
 'Glucose_Min_Prev_Day',
 'Glucose_Max_Prev_Day',
 'Glucose_Auto_Prev_Day',
 'Delta_Glucose_Prev_Day',
 'Hyperglycemia_Diagnosis_Next_Block',
 'Hypoglycemia_Diagnosis_Next_Block',
 'In_Range_Diagnosis_Next_Block',
 'Severe_Hyperglycemia_Diagnosis_Next_Block']